/*---- basic styling ----*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto mono', sans-serif !important;
    background: #0f0f0f !important;
    color: #fff !important;
}

.whitespace {
    width: 100%;
    height: 100px;
}

/*---- typewriter effect ----*/
.line{
    width: 24em;
    top: 50%;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);;
}

.anim-typewriter{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

/*---- navigation ----*/
nav {
    width: 100%;
    background: #0f0f0f;
    height: 80px;
    position: fixed;
    z-index: 1;
}

nav #MyName {
    float: left;
    display: block;
    margin-left: 32px;
    line-height: 80px;
    font-weight: bold;
}

nav #MyName a {
    color: #fff;
}

nav #MyName a:hover {
    text-decoration: none;
}

nav #menu {
    float: left;
    right: 80px;
    position: fixed;
}

nav #menu li {
    padding-left: 40px;
    display: inline-block;
    font-weight: 300;
    line-height: 5;
    position: relative;
}

nav #menu li span {
    font-weight: 700;
}

nav #menu li a {
    color: #fff;
    font-weight: bold;
}

/*---- hero section ----*/

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: -2px;
    line-height: 58px;
}

/*---- projects section ----*/

h6 {
    text-align: center;
}

.vertical {
    margin-top: 40px;
    border-left: 1px solid #fff;
    height: 80px;
    position: absolute;
    left: 50%;
}

.pjct {
    height: 500px;
}

.pjct1 {
    background: url("/images/MyWork.png") no-repeat 50% 50%;
    background-size: cover;
}

.pjct2 {
    background: url("/images/MyWork.png") no-repeat 50% 50%;
    background-size: cover;
}

.project3 {
    background: url("/images/MyWork.png") no-repeat 50% 50%;
    background-size: cover;
}

.project4 {
    background: url("/images/MyWork.png") no-repeat 50% 50%;
    background-size: cover;
}

/*---- footer section ----*/

.collab {
    text-align: right;
}

.collab p {
    font-weight: lighter !important;
    margin-bottom: 20px;
    font-weight: bold;
}

.hr {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
}

.info h4 {
    font-size: 18px;
    font-weight: lighter;
}

.info p {
    color: grey;
    font-weight: lighter;
}

.info li {
    font-weight: lighter;
    color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

#gh::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #3b5998;
}


#ig::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #fcaf45;
}


#tw::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #55acee;
}


#yt::before {
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #c4302b;
}

#media, #address {
    text-align: right;
}

#media ul {
    list-style: none;
}

#media ul li {
    display: inline-block;
}

/*---- work page ----*/

.hero-content {
    margin-left: 0%;
}

.hero-content p {
    font-weight: 300;
    line-height: 36px;
    color: grey;
}

.hero-content h6 {
    text-align: left;
}

/*---- about page ----*/

.about {
    height: 500px;
    margin-top: 120px;
}

.image {
    background: url("/images/MyWork.png") no-repeat 50% 70%;
}

/*---- contact form ----*/
#contact-form {
    margin: 5% 1.4%;
}

#contact-form ul {
    list-style: none;
    border-radius: 5px;
    margin-bottom: 40px;
}

#contact-form li {
    padding: 10px;
}

#contact-form li:last-of-type {
    border-bottom: none;
}

#contact-form label {
    display: block;
    font-size: .8em;
    color: #999;
    padding-left: 5px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #fff;
    font-weight: bolder;
}

input:focus {
    outline: none;
    border: none;
}

textarea:focus {
    outline: none;
    border: none;
}

.textarea {
    border-bottom: 1px solid #dfdfdf;
}

.send {
    margin-left: 50px;
    text-transform: uppercase;
    padding: 20px 30px;
    background: transparent;
    color: #dfdfdf;
    font-size: 14px;
    letter-spacing: 2px;
}

.send:hover {
    background: #dfdfdf;
    color: #101010;
}

/*---- work page ----*/

.prev, .next p {
    color: grey;
}

.prev p {
    text-align: left;
}

.next p {
    text-align: right;
}

/* WORKING ON IT  */
 .Working {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media */

@media(max-width: 768px) {
    .whitespace {
          display: none;
    }
}

@media(max-width: 768px) {
    @keyframes typewriter {
          from {
                width: 0;
          }
          to {
                width: 17em;
          }
    }
}

@keyframes typewriter {
    from{
        width: 0;
    }
    to {
        width: 18em;
    }
}

@keyframes blinkTextCussor {
    from {
          border-right-color: rgba(206, 191, 108, 0.747);
    }
    to {
          border-right-color: transparent;
    }
}


@media(max-width: 768px){
    #toggle{
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
        margin-right: 4px;
    }

    @media(min-width: 768px) {
        #resize {
              visibility: hidden !important;
        }
    }

    @media(max-width: 768px) {
        .header h1 {
              font-size: 26px;
        }
    }

    
@media(max-width: 768px) {
    .project {
          width: 90% !important;
          margin: 14px auto;
    }

    .vertical {
          display: none;
    }

    .project1::after, .project2::after, .project3::after, .project4::after {
          display: none;
    }
}

@media(m-width: 768px) {
    .hero-content {
          padding-top: 50px;
          width: 96%;
          margin: 0 auto;
    }
}


@media(max-width: 768px) {
    .collab, #personal, #media, #address {
          text-align: center;
    }

    .info ul {
          margin: 0 0 0 -22px;
          padding: 0;
    }
}

@media(min-width: 768px) {
    #contact-form {
          margin: 5% -8%;
          width: 98%;
    }
}
